@page "/"

<PageTitle>Index</PageTitle>

<h5>Welcome to my personal website! My goal with this project is provide some visibility into my skill set while also giving myself a playground to work on personal stuff!</h5>

<footer>
    <p>Author: Nick Sittinger</p>
    <p><a href="mailto:nsittinger@gmail.com">Email</a></p>
    <p><a href="https://www.linkedin.com/in/nicholassittinger">LinkedIn</a></p>
    <p><a href="https://www.github.com/nsittinger">GitHub</a></p>
</footer>
