@page "/resume"

<PageTitle>Resume</PageTitle>

<h1>Resume</h1>

<body>
  <embed src="https://sittingerresume.blob.core.windows.net/resume/N_Sittinger_Sr_Engineer_23.pdf" height="600" width="800" >
</body>

