@page "/resume"

<PageTitle>Resume</PageTitle>

<h1>Resume</h1>

<object
  data="https://sittingerresume.blob.core.windows.net/resume/N_Sittinger_Sr_Engineer_23.pdf"
  type="application/pdf"
  style="min-height: 100vh; width: 100%"
></object>

